@model IEnumerable<Insurance.Models.InsuranceRecord>

@{
    ViewData["Title"] = "Index";
}

<section class="container text-center">
    <h2 class="pt-5">Seznam pojištění</h2>
    <div class="row pt-4 pb-2">
        <div class="justify-content-end">
            <a asp-action="Create" class="btn btn-primary my-3 btn-style">Přidat nové pojištění</a>
        </div>
    </div>
</section>
<table class="table center-table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.InsuranceRecordName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Subject)
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.InsuranceRecordName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Subject)
                    </td>
                    <td class="nav justify-content-end">
                        <a asp-action="Edit" asp-route-id="@item.InsuranceId" class="btn btn-style">Upravit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>