@model Insurance.Models.User

@{
    ViewData["Title"] = "Details";
}

<div class="center">
    <div class="container">
        <h3 class="pt-3 display-6">Osobní údaje</h3>
        <hr />
        <dl class="row">
            <dt class="col-sm-12 fs-4 pb-3">
                @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(modelItem => Model.LastName)
                </dt>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Phone)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Phone)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Street)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Street)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.City)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.City)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PostalCode)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PostalCode)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Country)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Country)
            </dd>

        </dl>
    </div>
    <div class="container">
        <h3 class="pt-3 display-6">Pojištění</h3>
        <hr />
            <dl class="row">
            @foreach (var item in Model.UserInsuranceRecords)
            {

                <dt class="col-sm-12 fs-5 pb-3 underscore">
                    @Html.DisplayFor(modelItem => item.InsuranceRecord.InsuranceRecordName)
                </dt>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(modelItem => item.InsuranceRecord.Amount)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(modelItem => item.InsuranceRecord.Amount) Kč
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(modelItem => item.InsuranceRecord.Subject)
                </dt>
                <dd class="col-sm-10">
                @Html.DisplayFor(modelItem => item.InsuranceRecord.Subject)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(modelItem => item.InsuranceRecord.InsuredSince)
                </dt>
                <dd class="col-sm-10">
                @Html.DisplayFor(modelItem => item.InsuranceRecord.InsuredSince)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(modelItem => item.InsuranceRecord.InsuredUntil)
                </dt>
                <dd class="col-sm-10 pb-3">
                @Html.DisplayFor(modelItem => item.InsuranceRecord.InsuredUntil)
                </dd>
            }

        </dl>
    </div>

    <div class="pt-3">
        <a asp-action="Edit" asp-route-id="@Model.UserId" class="btn btn-style">Upravit - Přidat/odebrat pojištění</a> 
        <a asp-action="Index" class="btn btn-style-back">Zpět</a> 
        <a asp-action="Delete" asp-route-id="@Model.UserId" class="btn btn-danger">Smazat</a> 
    </div>
</div>